html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    font-family: Inter;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.first-screen{
    position: relative;
    background-image: url(foto/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.first-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}
button{
    position: relative;
    z-index: 2;
    display: flex;
    width: 105px;
    border: 0;
    background: rgba(255, 255, 255, 1);    
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-bottom: 6px;
}
.menu-button:hover{
    position: relative;
    z-index: 2;
    background-color: #e0e0e0;
}
.dropdown-menu{
    position: relative;
    z-index: 20;
    display: none;
    position: absolute;
    top: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 0;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dropdown-menu a{
    position: relative;
    z-index: 99999999;
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}
.dropdown-menu a:hover{
    background-color: #f0f0f0;
}
.main-header{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 488px;
    padding: 20px 0 20px;

    @media(max-width: 767px){
        justify-content: space-between;
        gap: 90px;
        padding: 17px 16px 17px;
    }
}
.main-header__button{
    display: block;
}
.main-header__button-close{
    position: absolute;
}
.main-header__list{
    flex-direction: column;
}
.logo{
    top: 0;
}
.header-list{
    display: flex;
    gap: 45px;

    @media(max-width: 767px){
        display: none;
    }
}
.header-item{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.first-screen_container{
    max-width: 624px;
    margin: 0 auto;

    @media(max-width: 767px){
        max-width: 344px;
    }
}
.first-screen__title{
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 72px;
    text-align: center;
    margin-top: 80px;
    color: rgba(255, 255, 255, 1);

    @media(max-width: 767px){
        font-weight: 500;
        font-size: 44px;
        margin-top: 26px;
    }
}
.first-screen__text{
    position: relative;
    z-index: 2;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    color: rgba(255, 255, 255, 1);

    @media(max-width: 767px){
        margin-top: 14px;
    }
}
.secction-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 80px;

    @media(max-width: 767px){
        margin: 60px 20px 60px 20px;
    }
}
.wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 80px;

    @media(max-width: 767px){
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
.title-container{
    width: 45%;
    left: 0;
    width: 520px;

    @media(max-width: 767px){
        width: 335px;
        padding-bottom: 32px;
    }
}
.title{
    font-size: 44px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);

    @media(max-width: 767px){
        font-weight: 500;
        font-size: 36px;
        margin-top: 26px;
    }
}
.text-container{
    width: 45%;
    right: 0;
    width: 680px;

    @media(max-width: 767px){
        width: 335px;
    }
}
.text{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);

    @media(max-width: 767px){
        font-weight: 400;
        font-size: 18px;
    }

}
.text-container_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;

    @media(max-width: 767px){
        margin: 60px 20px 60px 20px;
        padding: 0;
    }
}
.text-container_item{
    @media(max-width: 767px){
        width: 112px;
    }
}
.text-container_title{
    font-size: 36px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);

    @media(max-width: 767px){
        font-size: 24px;
    }
}
.text-container_text{
font-size: 18px;
font-weight: 400;
color: rgba(97, 101, 110, 1);
}
.images-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @media(max-width: 767px){
        gap: 24px;
    }
}
.image-item{
    display: inline-block;
}
.image{
    margin-top: 40px;
    margin-bottom: 40px;

    @media(max-width: 767px){
        max-width: 230px;
        max-height: 176px;
    }
}
    
.list_section{
    padding-bottom: 120px;
}
.list-container{
    display: flex;
    justify-content: flex-end;
    
    @media(max-width: 767px){
        justify-content: center;
    }
}
.list{
    margin: 80px 120px 0 0;

    @media(max-width: 767px){
        margin: 80px 20px 0 0;
    }
}
.item-text{
    width: 680px;

    @media(max-width: 767px){
        width: 335px;
    }
}
.title-item{
    font-size: 24px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);
    margin-bottom: 24px;

    @media(max-width: 767px){
        font-size: 20px;
        margin-bottom: 18px;
    }
}
.text-item{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);
    margin-bottom: 40px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

    @media(max-width: 767px){
        max-width: 375px;
        margin: 80px 20px 0 20px;
    }
}
.header-text{
    text-align: left;
    padding-bottom: 20px;
    width: 550px;
    height: 206px;

    @media(max-width: 767px){
        width: 335px;
        height: 258px;
    }
}
.header-text h1{
    margin: 0;
    font-size: 44px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);

    @media(max-width: 767px){
        font-size: 36px;
        padding-bottom: 32px;
    }
}
.header-text p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);
} 
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.gallery img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.large-image{
    grid-column: span 2;
    position: relative;
}
.image-description{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 4px;
}
.questions-section{
    margin-bottom: 120px;
}
.container-questions{
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-top: 240px;
    margin-left: 120px;

    @media(max-width: 767px){
        display: block;
        margin: 80px 20px 0 20px;
    }
}
.text-container_questions{
    max-width: 400px;

    @media(max-width: 767px){
        max-width: 335px;
        padding-bottom: 60px;
    }
}
.text-container_questions h2{
    font-size: 44px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);
    padding-bottom: 24px;

    @media(max-width: 767px){
        font-size: 36px;
        padding-bottom: 32px;
    }
}
.text-container_questions p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);
}
.questions{
    margin-right: 80px;

    @media(max-width: 767px){
        margin-right: 20px;
    }
}
.box{
    max-width: 666px;
    border: 1px solid rgba(229, 229, 230, 1);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.box h3{
    font-size: 24px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);

    @media(max-width: 767px){
        font-size: 20px;
    }
}
.box .content{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);
}
.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0px 10px 10px;
}
.content{
    display: none;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}
.toggle-button{
    cursor: pointer;
    font-size: 24px;
    padding-right: 24px;
}
.between-container{
    display: flex;
    justify-content: space-between;
    gap: 585px;

    @media(max-width: 767px){
        display: block;
    }
}
.main-footer{
    background: rgba(250, 250, 251, 1);
}
.logo-text_container{
    width: 180px;
    height: 108px;
    padding: 80px 80px 80px 120px;

    @media(max-width: 767px){
        padding: 60px 175px 60px 20px;
    }
}
.logo-text{
    font-size: 18px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);
}

.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:80px 80px 80px 0;
    gap: 72px;

    @media(max-width: 767px){
        grid-template-columns: 2fr 1fr;
        padding: 67px 27px 80px 20px;
    }

}
.product-title{
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(18, 22, 29, 1);
}
.product-item{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(97, 101, 110, 1);
}
.footer-text{
    border: 1px solid rgba(229, 229, 230, 1);
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px){
        display: block;
        padding: 25px 20px 20px 20px;
    }
}
.footer-text_main{
    padding: 24px 0  40px 80px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);

    @media(max-width: 767px){
        padding: 0;
    }
}
.footer-item{
    font-size: 14px;
    font-weight: 400;
    color: rgba(97, 101, 110, 1);

    @media(max-width: 767px){
        margin-bottom: 12px;
    }
}
.footer-list{
    display: flex;
    justify-content: space-around;
    padding: 24px 80px 40px 0;
    gap: 24px;

    @media(max-width: 767px){
        display: block;
    }
}